* {
  margin: 0;
  padding: 0;
}

#Ipe {
  margin-top: 35px;
  margin-left: 20px;
}

#Ipe .list-ipe {
  display: flex;
  flex-direction: column;
  background: #fafa;
}

#Ipe .list-ipe p {
  font-size: 1.2em;
  margin: 20px;
}
